/* _______________________________________________________________________ */

/* ----- reset-css ----- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* _______________________________________________________________________ */



/* ----- styles global ----- */

body {
    font-family: 'Monserrat';
}

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding: 20px 25%;
}

section {
    width: 100%;
    padding: 30px 0;
}

img {
    width: 100px;
}

h1 {
    font-family: 'Monserrat';
}

hr {
    width: 100px;
    border: none;
    border-top: 2px solid white;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 110px;
    text-decoration: underline dotted #22c55e;
}

a {
    text-decoration: none;
}

label {
    margin-bottom: 5px;
}

input {
    border: none;
}

footer {
    background-color: #22c55e;
}


/* ----- header ----- */

.container-logo-johnDoe {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 50px;
}

.container-h1-hr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #22c55e;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


/* ---- section-profil ----- */

.container-profil {
    display: flex;
}

.container-portrait, .container-description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.portrait-john-doe {
    display: flex;
}

.description-profil {
    display: flex;
    align-items: center;
    width: 70%;
}


/* ----- section-compétences ----- */

.container-compétences {
    display: flex;
    justify-content: space-evenly;
}

a:hover {
    transform: rotate(5deg);
}


/* ----- section-contact ----- */

.container-label-input {
    display: flex;
    flex-direction: column;
    width: 49%;
    padding: 5px 0;
}

.container-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0;

}

.container-coordonnées input {
    padding: 5px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 3px;
}

.container-nom-prenom, .container-email-téléphone {
    display: flex;
    justify-content: space-between;
}

.container-message input {
    padding: 5px 5px 50px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 5px grey;
}

.container-submit {
    padding: 10px 0;
}

.submit {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}